<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PsiWeb</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <link href="css/loginStyle.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  		<link href="/css/feedStyle.css" rel="stylesheet" />
    </head>

    <body>
    
	    	<div class ="sticky">
    	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			  <a class="navbar-brand" href="/feed">PsiWeb</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="/profile">Perfil <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item active">
			        <a class="nav-link" href="/chat">Chat</a>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          Conta
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="/logout">Logout</a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" href="/deleteUser">Deletar Conta</a>
			        </div>
			      </li>
			      
			    </ul>
			    
			    <form class="form-inline my-2 my-lg-0" method="post" id="search" th:action="@{/search}">
			      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" name="search">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    </form>
			    
			  </div>
		</nav>
			</div>	  
		
		<div class="container">
	    <div class="row">
	    	<div class="col-sm-4">
	    		<div class="recomendBox" id="recomendBox"> 
				<h3>Recomendados</h3>
				<table id="recomended" class="table table-striped">
				    	<tbody>
				        	<tr th:each="recomendado : ${recomendados}"  id="recomendado" >
				        		<div class="borderPos">
				        			<h4 th:text="${recomendado.name + ' ' + recomendado.lastName}"></h4>
				        			<img class="image" th:src="|data:image/png;base64,${recomendado.profilePicture}|" alt="" th:onclick="'javascript:callProfile(\'' + ${recomendado.id} + '\', \'' + 1 + '\');'" id="friend"/>
				   			    </div>
				        	</tr>
				        </tbody>
			    </table>
			</div>	
	    	</div>
	    	<div class="col-sm-4">
			
				<form class="box" th:action="@{/feed}" method="post">
					<label><input type="text" name="title" id="title" placeholder="Titulo"/></label>
			    	<textarea name="body" id="body" rows="10" cols="30"></textarea>
				  	<br><br>
				  	<input id ="send" type="submit">
				</form>
			
			
	            <table id="posts" class="table table-striped">
		            <tbody>
	                	<tr th:each="post : ${posts}">
	        				<div class="postBox"> 
		        				<div class="borderPos">
		        					<h4 th:text="${post.name}"></h4>
				                	<h5 th:text="${post.title}"></h5>
				                	<h6 th:text="${post.body}"></h6>
				                </div>	
			                	</br>
			                	<button type="button" class="btn btn-primary btn-lg btn-block">Like</button>
							    </br>
							    <h4>Commentarios</h4>
								<div class="commentBox" th:each="comment : ${post.comments}">
									<hr>
									<h5 th:text="${comment.name} + ':'+ ${comment.body} "><p th:text="${comment.body}"></p</h5>
								</div>	
								<hr>								    		
			                	<form  th:action="@{/feed/comment}" method="post">
				                	<div><label><input type="hidden" name="userEmail" th:value="${post.userEmail}"/> </label></div>
				                	<div><label><input type="hidden" name="idPost" th:value="${post.id}"/> </label></div>
								            <div><textarea name="body" id="body" rows="3" cols="35"></textarea></div>
								            <div><input type="submit" value="Enviar"/></div>
							    </form>
		        			</div>
	               		</tr>
	                </tbody>
		    	</table>
	        </div>
	        
	        <div class="col-sm-4">
			<div class="friendBox"> 
				<h3>Seguindo</h3>
				<table id="friends" class="table table-striped">
				    	<tbody>
				        	<tr th:each="friend : ${friends}" th:onclick="'javascript:callProfile(\'' + ${friend.friendId} + '\', \'' + ${friend.type} + '\');'" id="friend" >
				        		<div class="borderPos">
				        			<h4 th:text="${friend.name}"></h4>
				        			<img class="image" th:src="|data:image/png;base64,${friend.profilePicture}|" alt="" th:onclick="'javascript:callProfile(\'' + ${friend.friendId} + '\', \'' + ${friend.type} + '\');'" id="friend"/>
				   				</div>
				        	</tr>
				        </tbody>
			    </table>
			</div>	
	        </div>
	    </div>
	    
	    
	    

    </div>
    
     <script th:inline="javascript">
		function callProfile(id, type){
			window.location.href='/profile/' + id + '/' + type;
		};
		
		window.onload = () => {
			const type = [[${type}]];
			var show = localStorage.getItem('show');
			var x = document.getElementById("recomendBox");
			console.log(type);
			
			if(type == 1){
				console.log("If")
				x.style.display = "none";
				localStorage.setItem('show', 'true');
			}else{
				if(show === 'true' && type != 2){
					console.log("Else")
					x.style.display = "none";
				}else{
					localStorage.setItem('show', 'false');
				}
			}
			
    	};
    	
    	
		
	</script>
    
    </body>
    
    
</html>
